body {
  width: 100%;
  max-width: 100vw;
  height: 100%;
  padding: 0;
  margin: 0;
  background-image: linear-gradient(#AC87C5,#E0AED0,#AC87C5);
  color: white;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  background-color: inherit;
  color: inherit;
  border: none;
}


#playlist-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 2em 0 4em 0;
}

#cover {
  width: 450px;
}

#below-cover {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 3em 0 1em 0;
}

#button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.button {
  font-size: 1.5em;
  cursor: pointer;
}

.button-navigate {
  font-size: 2.5em;
}

.button-biggest {
  font-size: 3.5em;
}

#song-name {
  font-size: 1.5em;
  font-weight: bolder;
}

.light-color {
  color: #8B999C;
}

#progress-bar {
  background-color: #8B999C;
  height: 3px;
  width: 100%;
  border-radius: 15px;
}

#current-progress {
  --progress: 0%;
  background-color: white;
  height: inherit;
  width: var(--progress);
  border-radius: inherit;
}

#progress-container {
  cursor: pointer;
}

.button-active {
  color: rgb(0, 128,62);
}

#time-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: smaller;
  margin-top: 0.5em;
}

@media(max-width: 800px) {
  music-container {
    min-width: 100%;
  }
}